  <div mat-dialog-title>Contract Details</div>

  <div mat-dialog-content>
    <div class="flex flex-col gap-3" *ngIf="contract$ | async as contract">
      <div class="flex flex-row justify-between w-full gap-12">
        <mat-label>Contract No:</mat-label>
        <i>{{contract.id}}</i>
      </div>
      <mat-divider></mat-divider>

      <div class="flex flex-row justify-between w-full gap-12">
        <mat-label>Monthly Rate:</mat-label>
        <i>{{contract.monthlyRate | currency: 'EUR'}}</i>
      </div>
      <mat-divider></mat-divider>

      <div class="flex flex-row justify-between w-full gap-12" *ngIf="contract.customer as customer">
        <mat-label>Customer:</mat-label>
        <i>{{ customer.firstName }} {{ customer.lastName }}</i>
      </div>
      <mat-divider></mat-divider>

      <div class="flex flex-row justify-between w-full gap-12" *ngIf="contract.vehicle as vehicle">
        <mat-label>Vehicle:</mat-label>
        <i>{{ vehicle.brand }} {{ vehicle.model }}({{ vehicle.modelYear }})</i>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="flex flex-row justify-end gap-1 w-full">
      <button type="button" mat-raised-button (click)="close(false)">Close</button>
      <button type="button" mat-raised-button color="accent" (click)="deleteContract()">Delete</button>
      <button type="button" mat-raised-button color="primary" cdkFocusInitial (click)="editContract()">Edit</button>
    </div>
  </div>
